<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vue</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   
</head>
<body>
    <div id="app">
        <h1 v-if="isLoggedIn">{{message}} {{username}}</h1>
        <h1 v-if="!isLoggedIn">{{message}}</h1>

        <h1 v-show="isLoggedIn">{{message}} {{username}}</h1>
        <h1 v-show="!isLoggedIn">{{message}}</h1>
    </div>

    <script src="app.js"></script>
</body>
</html>